:root {
    --main-color: #ffaa00;
    --main-light: #ffbf40;
    --main-lighter: #fdda93;
    --main-lightest:#fff9ed;
    --main-dark: #bd7e02;
    --main-darker: #825700;
    --main-darkest: #4a3100;
}